# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
my_num = 23

print(my_num)

print(type(my_num))

print(25)

23
<class 'int'>
25

##### Assinging float

In [4]:
my_float = 10.5

print(my_float)

type(my_float)

10.5

float

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num = 1
num2 = 6

print(num + num2)

7

##### Subtraction

In [6]:
print(my_num - 7)

16

##### Multiplication

In [12]:
print(my_num * num2)

138

##### Division

In [14]:
print(num2 / 2)

3.0

##### Floor Division

In [20]:
print("2  int returns an integer or 2 floats gives you a float, always rounds down")
print(my_num // 2)
print(10.2 // 2)

2  int returns an integer or 2 floats gives you a float, always rounds down
11
5.0

##### Modulo

In [22]:
print("Gives you the remainder when dividing")
print(11/2)
print(11 % 2)

Divisible by
5.5
1

##### Exponential

In [25]:
print(10 ** 2)

print(num2**3)

100
216

### String Input-Output

##### String Assignment

In [27]:
my_string = 'Hello'
print(my_string)
print(type(my_string))

Hello
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print(my_string,  end=' ')
#default is a new line
# end='' skips the new line
print('Padawans 136', end = '\n')

Hello Padawans 136

##### String Concatenation

In [35]:
#joining together
string = 'Padawans 136'


concat_string = "Future developer" + " " + string

print(concat_string)

Future developer Padawans 136

##### Type Conversion

##### input()

##### format()

In [11]:
instructor_two = 'dylan'



f'{instructor_two}'

'dylan'

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [37]:
color = input("What color is your car? ")

year = input("What year is the car? ")

make = input("what is the make of the car? ")

model = input("what is the model of the car? ")

f'Your car is a {color} {year} {make} {model}'

What color is your car? dsfas
What year is the car? asdf
what is the make of the car? asdsa
what is the model of the car? fasd

'Your car is a dsfas asdf asdsa fasd'

# If Statements

In [42]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if 10 > 11:
    print('10 is greater than 11')
else:
    print("10 is not greater than 11")
    
    
if True:
    print("true")
    print("action 2")
    print('still in if')
    
if 0:
    print('zero')
    
if 1:
    print(1, "true")

if 10> 11 or 9 == 9:
    print('both true using or')

if 10 <11 and 9 == 9:
    print('both true 10> 11 and 9 == 9')

10 is not greater than 11
true
action 2
still in if
1 true
both true using or
both true 10> 11 and 9 == 9

##### 'is' keyword

In [ ]:
if 9 is 9:
    print('true')

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [53]:
word = input("Give me a word. ")

if "p" in word :
    print(word + " contains a 'p'")
else:
    print(word + " does not contain 'p'")
    
name = input("name: ")
print('p' in name)

Give me a word. asdfas
asdfas does not contain 'p'

## Using 'and'/'or' with If Statements

### Elif Statements

In [12]:
instructor = 'dylan brandt'

if 'team' in instructor:
    print('ranger')
elif "brian" in instructor:
    print('ekekek')
else:
    print('sorry')

sorry

### Else Statements

In [ ]:
# see above

### For Loops

In [13]:
print(instructor)

for e in instructor:
    print(e)
    print('hello world')

dylan brandt
d
hello world
y
hello world
l
hello world
a
hello world
n
hello world

hello world
b
hello world
r
hello world
a
hello world
n
hello world
d
hello world
t
hello world

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [17]:
for e in instructor:
    if e == 'n':
        continue
    print(e)

d
y
l
a

b
r
a
d
t

##### Break Statement

In [ ]:
# will break out of current loop

In [18]:
for e in instructor:
    if e == 'n':
        break
    print(e)

d
y
l
a

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for e in instructor:
    if e == 'n':
        pass
    print(e)

##### Double For Loops

In [19]:
for letter in 'dylan':
    for letter2 in 'dylan':
        print(f'{letter = } {letter2 =}')

letter = 'd' letter2 ='d'
letter = 'd' letter2 ='y'
letter = 'd' letter2 ='l'
letter = 'd' letter2 ='a'
letter = 'd' letter2 ='n'
letter = 'y' letter2 ='d'
letter = 'y' letter2 ='y'
letter = 'y' letter2 ='l'
letter = 'y' letter2 ='a'
letter = 'y' letter2 ='n'
letter = 'l' letter2 ='d'
letter = 'l' letter2 ='y'
letter = 'l' letter2 ='l'
letter = 'l' letter2 ='a'
letter = 'l' letter2 ='n'
letter = 'a' letter2 ='d'
letter = 'a' letter2 ='y'
letter = 'a' letter2 ='l'
letter = 'a' letter2 ='a'
letter = 'a' letter2 ='n'
letter = 'n' letter2 ='d'
letter = 'n' letter2 ='y'
letter = 'n' letter2 ='l'
letter = 'n' letter2 ='a'
letter = 'n' letter2 ='n'

### While Loops

In [21]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
while True:
    print(True, 'be careful')
    break

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [49]:
for i in range(1, 11):
    print(i, i **3)

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [79]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2, 101):
    for x in range(2,101):
        if i%x == 0:
            break
    if i == x:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [74]:

age = input("How old are you? ")

if int(age) < 18:
    print("you are a kid")
elif int(age) >= 18 and int(age) < 65:
    print("you are an adult")
elif int(age) > 65:
    print("you are a senior")

How old are you? 4
you are a kid